.title {
    text-align: center;
    height: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #aaaaaa;
}

.image {
    display: block;
    text-align: center;
    size: large;
    padding-bottom: 10px;
}

.accuracy {
    text-align: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}