<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet"  href="{{ url_for('static', filename='css/classify.css') }}">
    </head>

    <h2>
        Select an Image!
    </h2>

    <form class="choose" method="POST" action="/get">
        <label for="images">Select an image:</label>
    <select id="images" name="image">
        <option value="select" disabled selected>Select an Image</option>
        <option id="1" value="airplane1.jpg">airplane1.jpg</option>
        <option id="2" value="airplane2.jpg">airplane2.jpg</option>
        <option id="3" value="airplane3.jpg">airplane3.jpg</option>
        <option id="4" value="airplane4.jpg">airplane4.jpg</option>
        <option id="5" value="bird1.jpg">bird1.jpg</option>
        <option id="6" value="bird2.jpg">bird2.jpg</option>
        <option id="7" value="bird3.jpg">bird3.jpg</option>
        <option id="8" value="bird4.jpg">bird4.jpg</option>
        <option id="9" value="car1.jpg">car1.jpg</option>
        <option id="10" value="car2.jpg">car2.jpg</option>
        <option id="11" value="car3.jpg">car3.jpg</option>
        <option id="12" value="car4.jpg">car4.jpg</option>
        <option id="13" value="cat1.jpg">cat1.jpg</option>
        <option id="14" value="cat2.jpg">cat2.jpg</option>
        <option id="15" value="cat3.jpg">cat3.jpg</option>
        <option id="16" value="cat4.jpg">cat4.jpg</option>
        <option id="17" value="deer1.jpg">deer1.jpg</option>
        <option id="18" value="deer2.jpg">deer2.jpg</option>
        <option id="19" value="deer3.jpg">deer3.jpg</option>
        <option id="20" value="deer4.jpg">deer4.jpg</option>
        <option id="21" value="dog1.jpg">dog1.jpg</option>
        <option id="22" value="dog2.jpg">dog2.jpg</option>
        <option id="23" value="dog3.jpg">dog3.jpg</option>
        <option id="24" value="dog4.jpg">dog4.jpg</option>
        <option id="25" value="frog1.jpg">frog1.jpg</option>
        <option id="26" value="frog2.jpg">frog2.jpg</option>
        <option id="27" value="frog3.jpg">frog3.jpg</option>
        <option id="28" value="frog4.jpg">frog4.jpg</option>
        <option id="29" value="horse1.jpg">horse1.jpg</option>
        <option id="30" value="horse2.jpg">horse2.jpg</option>
        <option id="31" value="horse3.jpg">horse3.jpg</option>
        <option id="32" value="horse4.jpg">horse4.jpg</option>
        <option id="33" value="ship1.jpg">ship1.jpg</option>
        <option id="34" value="ship2.jpg">ship2.jpg</option>
        <option id="35" value="ship3.jpg">ship3.jpg</option>
        <option id="36" value="ship4.jpg">ship4.jpg</option>
        <option id="37" value="truck1.jpg">truck1.jpg</option>
        <option id="38" value="truck2.jpg">truck2.jpg</option>
        <option id="39" value="truck3.jpg">truck3.jpg</option>
        <option id="40" value="truck4.jpg">truck4.jpg</option>
    </select>
    <button type="submit">Submit</button>
    </form>
</html>