<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet"  href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <div class="title">
        <h1>Image Classifier</h1>
    </div>

    <div class="photo-banner1">
        <img class="ship" src="static/css/images/ship2.jpg">
        <img class="car" src="static/css/images/car4.jpg">
        <img class="frog" src="static/css/images/frog3.jpg">
        <img class="cat" src="static/css/images/cat4.jpg">
        <img class="truck" src="static/css/images/truck3.jpg">
    </div>
    <div class="photo-banner2">
        <img class="airplane" src="static/css/images/airplane3.jpg">
        <img class="dog" src="static/css/images/dog2.jpg">
        <img class="horse" src="static/css/images/horse1.jpg">
        <img class="bird" src="static/css/images/bird2.jpg">
        <img class="deer" src="static/css/images/deer1.jpg">
    </div>

    <div>
        <h2 class="description">Description</h2>
        <ul class="bullets">
            <li>This website allows our visitors to put our Image Classification algorithm to the test</li>
            <li>Our algorithm has been trained to identify a set objects such as dogs, cats, cars, ships, and more</li>
            <li>Our visitors will have the ability to choose an image to be processed by our algorithm</li>
            <li>Our algorithm will identify what the image is and report it back to our visitors</li>
            <li>Our visitors can test as many images as they'd like!</li>
        </ul>
    </div>

    <a href="/classify">
        <button class="button">Classify an Image!</button>
    </a>

</html>